.DogDetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DogDetails-card {
    max-height: 500px;
    max-width: 350px;
    color: #44d4f8;
    width: 100%;
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid lightblue;
    border-radius: 1rem;
}

.DogDetails-image {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.DogDetails-text {
    width: 80%;
}